<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%title%></h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro quos repellendus obcaecati eveniet ratione numquam quibusdam autem ipsum a, saepe, et amet omnis earum similique doloremque laborum culpa qui magnam!
    Asperiores repellat quos nobis consequuntur, repudiandae distinctio neque? Quas libero nobis architecto alias nulla praesentium quasi? Itaque error totam rerum necessitatibus voluptatem, corporis eius mollitia laudantium quibusdam, quae et accusantium.
    Mollitia, nisi? Alias cupiditate cumque est temporibus sed maiores nam dolores consectetur adipisci non hic ad exercitationem consequuntur eligendi a dicta molestiae reiciendis, soluta eum vero totam inventore porro. Quas.
    Tempore ea, aliquam amet fugiat, quasi exercitationem excepturi quidem pariatur neque hic perspiciatis molestiae autem minima placeat soluta, praesentium nesciunt ad minus commodi facere officiis sit fuga maxime eos? Fugit!
    Quod delectus illo doloremque eaque reprehenderit, repudiandae laborum expedita est optio voluptate, nihil corporis? Tempora provident quisquam similique ad repudiandae iusto aut doloremque dignissimos natus! Atque repellat quae blanditiis consectetur!</p>

    
</body>
</html>