<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageTitle%></title>
</head>
<body>
    <header>
        <div>Awesome Tittle</div>
            <nav>
                <menu>
                    <li>Home</li>
                    <li>About</li>
                    <li>Contact</li>
                </menu>
            </nav>
    </header>



</body>
</html>